---
layout: default
title: New
dumb: 1 + 2
---
<div class="container">
  <h2 class="text-center">CSV data</h2>
  <table class="table">
    {% for row in site.data.authors %}
    {% if forloop.first %}
    <tr class="table-success">
      {% for pair in row %}
      <th class="table-success">{{ pair[0] }}</th>
      {% endfor %}
    </tr>
    {% endif %}
    
    {% tablerow pair in row %}
    {{ pair[1] }}
    {% endtablerow %}
    {% endfor %}
  </table>
  <br />
  <h3 class="text-center">{{ page.title }} :</h3>
  <hr class="position-relative py-2 px-4 start-50 translate-middle" />
  <h4>This page tells you all about yesterday news</h4>
    <p>
  {{ page.dumb }} = 3
  <br />
  0 - 0 =
  </p>
  <br />
  <hr class="position-relative py-2 px-4 start-50 translate-middle" />
  <div class="container">
    <div class="main">
      <h1>Mon Année</h1>
      <div class="col-lg-8 px-0">
	<p class="fs-5">Comédie en quatre parties</p>
	<p>En cours d'élaboration ...</p>
	<div class="row">
	  <div class="col-sm-6 mb-3 mb-sm-0">
	    <div class="card border-dark mb-3">
	      <div class="card-header">Première Partie</div>
	      <div class="card-body">
		<h5 class="card-title">L'Été</h5>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		<hr>
		<a href="#" class="card-link">Card link</a>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 mb-3 mb-sm-0">
	    <div class="card border-warning mb-3">
	      <div class="card-header">Deuxième Partie</div>
	      <div class="card-body">
		<h5 class="card-title">L'Automne</h5>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		<hr>
		<a href="#" class="card-link">Card link</a>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 mb-3 mb-sm-0">
	    <div class="card border-warning mb-3" style="max-width: 24rem;">
	      <div class="card-header">Troisième Partie</div>
	      <div class="card-body">
		<h5 class="card-title">L'Hiver</h5>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		<hr>
		<a href="#" class="card-link">Card link</a>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 mb-3 mb-sm-0">
	    <div class="card border-dark mb-3" style="max-width: 24rem;">
	      <div class="card-header">Dernière Partie</div>
	      <div class="card-body">
		<h5 class="card-title">Le Printemps</h5>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		<hr />	
		<a href="#" class="card-link">Card link</a>
	      </div>
	    </div>
	  </div>
	  
	</div>
	<br />
      </div>
    </div>
	<hr class="position-relative py-2 px-4 start-50 translate-middle" />
  </div><br />	
</div>
    <br />	
<br />	
