---
layout: default
title: New
dumb: 1 + 2
---
<div class="container">
<h2 class="text-center">CSV data</h2>
<table class="table">
  {% for row in site.data.authors %}
    {% if forloop.first %}
    <tr class="table-success">
      {% for pair in row %}
        <th class="table-success">{{ pair[0] }}</th>
      {% endfor %}
    </tr>
    {% endif %}
    
    {% tablerow pair in row %}
      {{ pair[1] }}
    {% endtablerow %}
  {% endfor %}
</table>
<br />
<h3 class="text-center">{{ page.title }} :</h3>
<hr class="position-relative py-2 px-4 start-50 translate-middle" />
<p>This page tells you all about yesterday news.</p>
{{ page.dumb }} = 3
<br />
0 - 0 =
<br />
<hr class="position-relative py-2 px-4 start-50 translate-middle" />
</div>
